<!DOCTYPE html>
<html lang="en">
<head>
    <!-- external css-->
    <link rel="stylesheet" href="../css/stylecontact.css" />
    <!-- grid -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
    <!-- icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <!-- Scrip Carausel -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us Shafitabil</title>
</head>
<body>
    <header>
        <div class="left">
            <li><a href="index.html"><i class="fa-solid fa-arrow-left"></i></a></li>
        </div>
        <center><h1><a href="">CONTACT US</a></h1></center>
    </header>
    <div class="contact">
        <p>Email us at <strong>info@shafitabilshop.com </strong> or fill out the form below for any questions or comments.       

        We'd love to help !     
            
        Thank you for being a loyal customer with us!</p>
    </div>
    <form action="contact.php" method="POST">
        <fieldset>
        <center><legend>Contact</legend></center>
        <p>
            <label>Name:</label>
            <input type="text" name="name" placeholder="your name..." />
        </p>
        <p>
            <label>Subject:</label>
            <input type="text" name="subject" placeholder="subject..." />
        </p>
        <p>
            <label>Email:</label>
            <input type="email" name="email" placeholder="your email..." />
        </p>
        <p>
            <center><input type="submit" style="margin-bottom: 7%;" name="submit" value="Send" /></center>
        </p>
        </fieldset>

    <div class="icon">
        <li><a href=""><i class="fa-brands fa-whatsapp"></i> +62885600986</a></li>
        <li><a href=""><i class="fa-solid fa-phone"></i> 0667742678</a></li>
        <li><a href=""><i class="fa-brands fa-instagram"> sftbshop</i></a></li>
    </div>

    
</body>
</html>