<!DOCTYPE html>
<html lang="en">
<head>
    <!-- external css-->
    <link rel="stylesheet" href="../css/styleshop.css" />
    <!-- grid -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
    <!-- icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <!-- Scrip Carausel -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    !--stylesheet------------->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--light-slider.css------------->
    <link rel="stylesheet" type="text/css" href="css/lightslider.css">
    <!--Jquery-------------------->
    <script type="text/javascript" src="js/Jquery.js"></script>
    <!--lightslider.js--------------->
    <script type="text/javascript" src="js/lightslider.js"></script>
    </head>
    

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Shafitabil</title>

    <header>
        <div class="left">
            <li><a href="index.html"><i class="fa-solid fa-arrow-left"></i></a></li>
        </div>
        <center><h1><a style="color: #fff;" href="">Shafitabil Shop</a></h1></center>
        <div class="row">
			<a style="margin: 5% 4%; color: #fff; font-size: 17px;" href="">Kategori</a>
            <input class="search" placeholder="cari disni" />
			<a class="mini-header" href="myaccount"><i class="fa-solid fa-circle-user"></i></a>
            <a class="mini-header" href=""><i class="fa-solid fa-cart-shopping"></i></a>
			<a class="mini-header" href=""><i class="fa-solid fa-house"></i></a>
        </div>
    </header>
    
    <div class="kategori">
		<center><h3><a href="">BOTTOM</a></h3></center>
		<section class="slider">
		<ul id="autoWidth" class="cs-hidden">
			<!--1------------------------------------>	
			<li class="item-a">
				<!--box-slider--------------->
				<div class="box">
					<!--img-box---------->
					<div class="slide-img">
						<img src="../images/bot-buttonbodycon.jpg" alt="1">
							<!--overlayer---------->
							<div class="overlay">
								<!--buy-btn------>	
								<a href="#" class="buy-btn">Buy Now</a>	
							</div>
					</div>
				<!--detail-box--------->
				<div class="detail-box">
					<!--type-------->
					<div class="type">
						<a href="#">Button Bodycon</a>
							<span>Noe Arrival</span>
					</div>
					<!--price-------->
					<a href="#" class="price">Rp. 90.000</a>
				</div>
		</li>
	
		</ul>
		</section>

		<div class="kategori">
			<center><h3><a href="">DRESSES</a></h3></center>
			<section class="slider">
			<ul id="autoWidth" class="cs-hidden">
				<!--1------------------------------------>	
				<li class="item-a">
					<!--box-slider--------------->
					<div class="box">
						<!--img-box---------->
						<div class="slide-img">
							<img src="../images/drees-retrov-neck.jpg" alt="1">
								<!--overlayer---------->
								<div class="overlay">
									<!--buy-btn------>	
									<a href="#" class="buy-btn">Buy Now</a>	
								</div>
						</div>
					<!--detail-box--------->
					<div class="detail-box">
						<!--type-------->
						<div class="type">
							<a href="#">Retrov Neck Dress</a>
								<span>Noe Arrival</span>
						</div>
						<!--price-------->
						<a href="#" class="price">Rp. 450.000</a>
					</div>
				</div>		
			</li>
		
			</ul>
			</section>

			<div class="kategori">
				<center><h3><a href="">OUTER</a></h3></center>
				<section class="slider">
				<ul id="autoWidth" class="cs-hidden">
					<!--1------------------------------------>	
					<li class="item-a">
						<!--box-slider--------------->
						<div class="box">
							<!--img-box---------->
							<div class="slide-img">
								<img src="../images/cardi-buttonplaid.jpg" alt="1">
									<!--overlayer---------->
									<div class="overlay">
										<!--buy-btn------>	
										<a href="#" class="buy-btn">Buy Now</a>	
									</div>
							</div>
						<!--detail-box--------->
						<div class="detail-box">
							<!--type-------->
							<div class="type">
								<a href="#">Cardigan Button Plaid</a>
									<span>Noe Arrival</span>
							</div>
							<!--price-------->
							<a href="#" class="price">Rp. 250.000</a>
						</div>
					</div>		
				</li>
			
				</ul>
				</section>
				<div class="kategori">
					<center><h3><a href="">SET</a></h3></center>
					<section class="slider">
					<ul id="autoWidth" class="cs-hidden">
						<!--1------------------------------------>	
						<li class="item-a">
							<!--box-slider--------------->
							<div class="box">
								<!--img-box---------->
								<div class="slide-img">
									<img src="../images/set-begieoutfit.jpg" alt="1">
										<!--overlayer---------->
										<div class="overlay">
											<!--buy-btn------>	
											<a href="#" class="buy-btn">Buy Now</a>	
										</div>
								</div>
							<!--detail-box--------->
							<div class="detail-box">
								<!--type-------->
								<div class="type">
									<a href="#">SET Begie Outfit</a>
										<span>Noe Arrival</span>
								</div>
								<!--price-------->
								<a href="#" class="price">Rp. 420.000</a>
							</div>
						</div>		
					</li>
				
					</ul>
					</section>

					<div class="kategori">
						<center><h3><a href="">TOP</a></h3></center>
						<section class="slider">
						<ul id="autoWidth" class="cs-hidden">
							<!--1------------------------------------>	
							<li class="item-a">
								<!--box-slider--------------->
								<div class="box">
									<!--img-box---------->
									<div class="slide-img">
										<img src="../images/top-sweatshirt.jpg" alt="1">
											<!--overlayer---------->
											<div class="overlay">
												<!--buy-btn------>	
												<a href="#" class="buy-btn">Buy Now</a>	
											</div>
									</div>
								<!--detail-box--------->
								<div class="detail-box">
									<!--type-------->
									<div class="type">
										<a href="#">Sweatshirt</a>
											<span>Noe Arrival</span>
									</div>
									<!--price-------->
									<a href="#" class="price">Rp. 70.000</a>
								</div>
							</div>		
                            
						</li>
					
						</ul>
						</section>
<!--script-link----------->
<script type="text/javascript" src="../js/script.js"></script>
    </body>
    </html>
